.scroll-pane {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
  }
  
  .scroll-pane .viewport {
    -fx-background-color: white;
  }
  
  .scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-border-color: white;
  }
  
  .scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 0;
  }
  
  .scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 0;
  }
  